<!DOCTYPE html>
<html lang="en">
<!-- <link rel="stylesheet" href="css/styles.css" media="screen"> -->
<%- include('../partials/head') %>
<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
        <%- typeof body === 'undefined' ? '' : body %>
        </main>

        <%- include('../partials/footer') %>

    </div>
</body>
</html>